#cost-items
	h1: span Cost Items
	.container
		.add-section
			.form-element
				label(for="editItem") Select Item to Edit
				.form-input
					select#editItem(name="editItem")
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
					a.button.btn-big.btn-primary(href="cost-items") edit
		h1 Add New Cost Item
		form
			.form-element
				label(for="itemName") Item Name
				.form-input
					input#itemName(type="text", name="itemName", class="#{errors && 'name' in errors ? 'err' : ''}", value="#{inputs ? inputs.name : ''}")
			.form-element
				label(for="itemDesc") Item Description
				.form-input
					textarea#itemDesc(name="itemDesc", class="#{errors && 'description' in errors ? 'err' : ''}", value="#{inputs ? inputs.description : ''}")

			.form-action
				a.button.btn-big.btn-primary(href="cost-items") Save
				button.button.btn-big.btn-danger.pull-right(type="reset") reset
