<form action="">
	<h3>personal info</h3>
	<div class="form-element">
		<label for="patientGroup">Patient Group</label>
		<div class="form-input">
			<input type="text" disabled="disabled" id="patientGroup">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientCode">Patient Code</label>
		<div class="form-input">
			<input type="text" disabled="disabled" id="patientCode">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientAge">Patient Age</label>
		<div class="form-input">
			<input type="text" disabled="disabled" id="patientAge">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientGender">Patient Gender</label>
		<div class="form-input">
			<input type="text" disabled="disabled" id="patientGender">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientPhone">Patient Phone</label>
		<div class="form-input">
			<input type="text" id="patientPhone" name="patientPhone">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientAddress">Patient Address</label>
		<div class="form-input">
			<input type="text" id="patientAddress" name="patientAddress">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientOccupation">Patient Occupation</label>
		<div class="form-input">
			<input type="text" id="patientOccupation" name="patientOccupation">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientHabits">Patient Habits</label>
		<div class="form-input">
			<input type="text" id="patientHabits" name="patientHabits">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientTreatment">Onset of Treatment</label>
		<div class="form-input">
			<input type="text" id="patientTreatment" name="patientTreatment">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientProblem">Main Problem</label>
		<div class="form-input">
			<textarea id="patientProblem" name="patientProblem" cols="30" rows="10"></textarea>
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientPast">Past History</label>
		<div class="form-input">
			<textarea id="patientPast" name="patientPast" cols="30" rows="10"></textarea>
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientDiagnosis">Diagnosis</label>
		<div class="form-input">
			<textarea id="patientDiagnosis" name="patientDiagnosis" cols="30" rows="10"></textarea>
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientMethod">Method of Treatment</label>
		<div class="form-input">
			<textarea id="patientMethod" name="patientMethod" cols="30" rows="10"></textarea>
		</div><!-- end form-input -->
	</div><!-- end form-element -->



	<h3>present history</h3>
	<div class="form-element">
		<label for="patientOnset">Onset</label>
		<div class="form-input">
			<input type="text" id="patientOnset" name="patientOnset">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientCourse">Course</label>
		<div class="form-input">
			<input type="text" id="patientCourse" name="patientCourse">
		</div><!-- end form-input -->
	</div><!-- end form-element -->
	<div class="form-element">
		<label for="patientDuration">Duration</label>
		<div class="form-input">
			<input type="text" id="patientDuration" name="patientDuration">
		</div><!-- end form-input -->
	</div><!-- end form-element -->


	<div class="form-action">
		<button type="submit" class="button btn-primary btn-big">Save</button>
		<button type="button" class="button button-delete pull-right btn-danger btn-big">Delete</button>
	</div><!-- end form-action -->
</form>