#sessions-all
	h1: span All Sessions
	.container
		table
			thead: tr
				th Name
				th Added On
				th.action Action
			tbody
				if opt.rows.length
					each val in opt.rows
						tr
							td #{val.name}
							td #{val.created_at}
							td.action
								a.btn.btn-primary(href="sessions-profile", data-id="#{val.id}", title="edit Session"): i.icon-edit
								a.btn.btn-danger(href="sessions-remove", data-id="#{val.id}", title="remove Session"): i.icon-close
				else
					tr
						td.noData(colspan="3") there is no data right now
			tfoot: tr
				th Name
				th Added On
				th.action Action
		if opt.links.pages > 1
			include ../layout/pagination.jade
