div#home-page
	h1 Dashboard
	.widget.watch
		.title
			span watch
			i.icon-arrow-down
		.body
			.clock.clearfix
				span Time Now
				span
					span.hour
					| :
					span.minute
					| :
					span.second
			.timer
				p
					| Dates Today:
					span 52
	.widget.statistics
		.title
			span statistics
			i.icon-arrow-down
		.body
			.statis
				span 214
				span Patients
			.statis
				span 214
				span Machines
			.statis
				span 214
				span Booking
			.statis
				span 214
				span Employees
			.statis
				span 214
				span Groups
	.widget.patients
		.title
			span latest patients
			i.icon-arrow-down
		.body
			table
				thead: tr
					th id
					th name
					th log date
				tbody
					tr
						td 1
						td hema
						td 12-32
					tr
						td 1
						td hema
						td 12-32
					tr
						td 1
						td hema
						td 12-32
					tr
						td 1
						td hema
						td 12-32
				tfoot: tr
					th id
					th name
					th log date
	.widget.booking
		.title
			span latest booking
			i.icon-arrow-down
		.body
			table
				thead: tr
					th id
					th name
					th log date
				tbody
					tr
						td 1
						td hema
						td 12-32
					tr
						td 1
						td hema
						td 12-32
					tr
						td 1
						td hema
						td 12-32
					tr
						td 1
						td hema
						td 12-32
				tfoot: tr
					th id
					th name
					th log date
