<div class="form-element">
	<label for="input-file">this is label</label>
	<div class="form-input">
		<input type="file" id="input-file">
	</div><!-- end form-input -->
</div><!-- end form-element -->
<div class="form-element">
	<label for="input-textarea">this is label</label>
	<div class="form-input">
		<textarea id="input-textarea" cols="30" rows="10"></textarea>
	</div><!-- end form-input -->
</div><!-- end form-element -->
<div class="form-element">
	<label>this is label</label>
	<div class="form-input checkbox">
		<input type="checkbox" id="checkbox1">
		<label for="checkbox1">label for checkbox</label>

		<input type="checkbox" id="checkbox2">
		<label for="checkbox2">label for checkbox</label>

		<input type="checkbox" id="checkbox3">
		<label for="checkbox3">label for checkbox</label>
	</div><!-- end form-input -->
</div><!-- end form-element -->
<div class="form-element">
	<label>this is label</label>
	<div class="form-input radio">
		<input type="radio" id="radio1" name="radio">
		<label for="radio1">label for radio</label>

		<input type="radio" id="radio2" name="radio">
		<label for="radio2">label for radio</label>
		
		<input type="radio" id="radio3" name="radio">
		<label for="radio3">label for radio</label>
	</div><!-- end form-input -->
</div><!-- end form-element -->
<div class="form-action">
	<button class="button btn-primary">Save</button>
	<button class="button pull-right">reset</button>
</div><!-- end form-action -->