ul
	li
		input#sidebar-1(type="checkbox")
		label(for="sidebar-1") Store
		ul
			li: a(href="store-measurement") measurement units
			li: a(href="store-inventory") inventory items
	li
		input#sidebar-2(type="checkbox")
		label(for="sidebar-2") Purchasing
		ul
			li: a(href="purchasing-suppliers") suppliers
			li: a(href="purchasing-invoice") purchasing invoice
			li: a(href="purchasing-invoices") invoices
	li
		input#sidebar-3(type="checkbox")
		label(for="sidebar-3") Costs
		ul
			li: a(href="cost-items") cost items
			li: a(href="cost-invoice") cost invoice
			li: a(href="cost-invoices") invoices
	li: a(href="groups-invoices") Groups Invoices
