ul
	li
		input#sidebar-1(type="checkbox")
		label(for="sidebar-1") Employees
		ul
			li: a(href="employees-all") all employees
			li: a(href="employee-add") add employee
			li: a(href="employees-archive") employees archive
	li
		input#sidebar-2(type="checkbox")
		label(for="sidebar-2") Groups
		ul
			li: a(href="groups-all") all groups
			li: a(href="groups-add") add group
	li
		input#sidebar-3(type="checkbox")
		label(for="sidebar-3") Machines
		ul
			li: a(href="machines-all") all machines
			li: a(href="machines-add") add machine
	li
		input#sidebar-4(type="checkbox")
		label(for="sidebar-4") Sessions
		ul
			li: a(href="categories-all") categories
			li: a(href="sessions-all") all sessions
			li: a(href="sessions-add") add session
	li: a(href="beds-all") Beds
