ul
	li: a(href="app-options-global") App option
	li
		input#sidebar-1(type="checkbox")
		label(for="sidebar-1") Privilege
		ul
			li: a(href="app-options-roles") Roles
			li: a(href="app-options-add-role") new Role
