ul
	li: a(href="calendar") Calendar
	li
		input#sidebar-1(type="checkbox")
		label(for="sidebar-1") Patients
		ul
			li: a(href="patients-all") all patients
			li: a(href="patients-add") add patient
	li
		input#sidebar-2(type="checkbox")
		label(for="sidebar-2") Booking
		ul
			li: a(href="booking-all") all booking
			li: a(href="booking-add") add booking
	li
		input#sidebar-3(type="checkbox")
		label(for="sidebar-3") Diets
		ul
			li: a(href="diets-all") all diets
			li: a(href="diets-add") add diet






